body {
    background: #dd5e89;
    background: -webkit-linear-gradient(to left, #dd5e89, #f7bb97);
    background: linear-gradient(to left, #dd5e89, #f7bb97);
    min-height: 100vh;
}

.table td, .table th {
    vertical-align: middle;
}

.form-check-input {
    position: relative;
}